<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- CSS only -->
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">IRON FIT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/private/aluno">Aluno</a></li>
      <li><a href="/private/planos">Plano</a></li>
    </ul>

    <form id="logout-form" action="/logout" method="POST">
        <button class="btn-nav btn-danger navbar-btn">Logout</button>
      </form>
    </div>
</nav>

<main>
  {{{body}}}
</main>
  
<script src="/javascripts/script.js"></script>
</body>
</html>