<link rel="stylesheet" href="stylesheets/style.css">

<div class="to-center fundo-transparente">

    <div class="logo">
     
    </div>
    
		<form action="/login" method="POST">
    
		<div class="mb-3">
      <label for="input-email">Email</label>
      <input type="email" id="input-email" name="email" placeholder="Your email" />
    </div>

    <div class="mb-3">
			<label for="input-password">Password</label>
      <input type="password" name="password" id="input-password" placeholder="********" />
    </div>

      <button type="submit" class="btn btn-primary mb-3">Login</button>

      <div>
        <p class="text-sign">Ainda não está cadastrado clique aqui: <a href="/signup">Cadastro</a> </p> 
      </div>

      <div>
        <p class="suporte">Suporte: <a href="#">suporte@sicuto&dk.com.br</a></p>
      </div>
       
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>



  
