<div>
  <a href="/private/aluno-cadastro">Cadastrar Aluno</a>

  {{#each alunos}}
    <p>{{this.nome}}</p>
    {{!-- <p>{{this.email}}</p> --}}
 {{/each}}

 {{!-- {{#each alunos}}
    <p>{{this.email}}</p>
 {{/each}} --}}
</div>