{{#if userInSession}}
<div class="text">
  <h2>Welcome, {{ userInSession.nome }}!</h2>
  <p>Esta é a sua página de perfil, meu amigo!</p>
</div>
  <button>
    <a href="/home">Reload the page</a>
  </button>
{{else}}
  <p>Ainda não há usuário logado, desculpe!</p>
{{/if}}





