{{#if userInSession}}
<div class="text to-center fundo-transparente-home">
  
  <h2>Pronto para Ironfit {{ userInSession.nome }}?</h2>
  <p>Aproveite o maior sistema de gestão em academias</p>
  
</div>
  
{{else}}
  <p class="text to-center fundo-transparente">Ainda não há usuário logado, desculpe!</p>
{{/if}}






