<link rel="stylesheet" href="stylesheets/style.css">

{{!-- <div>planos cadastro</div> --}}

<form action="/private/planos-cadastro" method="POST">
    <label for="duracao">Duração do Plano</label>
    <input type="text" id="duracao" name="duracao" placeholder="Duração do Plano" />

  
    <label for="valorplano">Valor do Plano</label>
    <input type="text" id="valorplano" name="valorplano" placeholder="Valor do Plano" />

     <button type="submit">Cadastrar Planos</button>

</form>
     