body {
  padding: 50px;
  font: 14px;
  font-family: "Arimo";
  background-image: url("../images/img2.jpg");
  background-size: cover;
}

a {
  color: #00b7ff;
}

/* .ironfit {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 50px;
} */

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  margin-left: 25%;
  width: 200px;
  height: 200px;
}

.form {
  margin-top: 25px;
}

.to-center {
  text-align: center;
  margin-top: 100px;
}

.text {
  color: antiquewhite;
}

.fundo-transparente {
  background-color: rgba(255, 255, 255, 0.4);
  width: 410px;
  height: 420px;
  margin-left: 650px;
}

.fundo-transparente-tabela {
  background-color: rgba(255, 255, 255, 0.4);
}

.fundo-transparente-home {
  background-color: rgba(255, 255, 255, 0.4);
  width: 410px;
  height: 90px;
  margin-left: 650px;
}

.btn-nav {
  margin-left: 68%;
}
.mb-3 {
  padding: 5px 13px;
  margin: 5px 0;
  box-sizing: border-box;
  outline: none;
}
